{% include "header.html"%}



    <div class="container my-3 py-3">
      <h2 class="text-center my-3 py-3 ">All Projact</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x400/?HTML" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x400/?php" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PHP</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x400/?javascript" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Javascript</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x400/?c++" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Django</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x400/?python code" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">python</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/900x400/?css" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CSS</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

    </div>


    {% include 'Footer.html' %}